@model IEnumerable<BTL_QuanLyLopHocTrucTuyen.Models.Lesson>
@using System.Linq
@{
    ViewData["Title"] = "Lesson Page";
    Layout = "~/Views/Instructor/Shared/_InstructorLayout.cshtml";
}

    <link rel="stylesheet" href="~/css/Instructor/Lesson/Lesson.css" asp-append-version="true" />

<div class="content-main" " >
    <div class="header-lesson">
        <div class="header-left d-flex align-items-center gap-2">
            <i class="bi bi bi-book fs-5 text-primary"></i>
            <h4 class="mb-0 text-primary">Danh sách bài học</h4>
        </div>
        
        <label>
        <i class="bi bi-search"></i>
        <input type="search" placeholder="Tìm kiếm bài học ..." class="search-lesson"/>
        </label>
        <a asp-controller="LessonInstructor" asp-action="AddLesson">
        <button class="btn"><i class="bi bi-plus-lg"></i>Thêm bài học</button>
        </a>
    </div>
    <hr />
    <div class="listlesson">
        @if(Model !=null&& Model.Any()){
            foreach(var lesson in Model){
               
                    <div class="lesson-card">
                        <div class="lesson-header">
                        <h6>@lesson.Title</h6>
                        </div>
                        <div class="lesson-info">
                        <p><i class="bi bi-calendar-event"></i> @lesson.BeginTime.ToString("dd/MM/yyyy") - @lesson.EndTime.ToString("dd/MM/yyyy")</p>
                        <p><i class="bi bi-journal"></i> @lesson.Materials?.Count() tài liệu · @lesson.Assignments?.Count() bài tập</p>
                        </div>

                        <div class="lesson-actions">
                        <a asp-controller="LessonInstructor" asp-action="DetailLesson" asp-route-id="@lesson.Id">
                        <button class="btn-view" data-id="@lesson.Id"><i class="bi bi-eye"></i> Xem</button>
                        </a>
                        <a asp-controller="LessonInstructor"asp-action="EditLesson"asp-route-id="@lesson.Id">
                        <button class="btn-edit"><i class="bi bi-pencil"></i> Sửa</button>
                        </a>
                        <button class="btn-delete"data-id="@lesson.Id"><i class="bi bi-trash"></i> Xóa</button>
                        </div>
                    </div>
                
            }
        }else{
            <partial class="text-muted text-center">Chưa có bài học nào</partial>
        }
        
        
    </div>

</div>
@section Scripts{
    <script src="~/js/Instructor/Lesson/Lesson.js" asp-append-version="true"></script>
}